.registros {
    background: #fff;
    padding: 2rem;       /* DIV DO CONTEUDO DO FORMULÁRIO*/
    border-radius: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.visao-geral {
    align-items: flex-start;
    margin-top: 24px;
}

.help-text {
    font-size: 12px;
    color: #858585;
}

.container-registros {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
   outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 10%;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    margin-bottom: 5px;
}

.titulo-div {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.fb-container {
    grid-row: span 2;
    height: 100%;
}

.div-botao button {
   
    padding: 0.5rem;
    background: #52c3e3;
    cursor: pointer;
    color: white;
    font-size: 14px; 
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 150px;
    
 
}

.column-container {
    background-color: white;
    display: flex;
    padding: 25px;
    gap: 50px;
    border-radius: 14px;
}

.div-botao2 button {
   
    padding: 0.5rem;
    background: #52c3e3;
    cursor: pointer;
    color: white;
    font-size: 14px; 
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 150px;
    
}

button:hover {
    letter-spacing: 0.5px;
}

.fb input{
    width: 40%;
}

.cr {
    display: flex;
    flex-direction: column;
}

.cr input {
    width: 100%;
}