.cards {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.registros {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);          /* DIV DO CONTEUDO DO FORMULÁRIO*/
    border-radius: 20px;
}

input {
   outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 10%;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    margin-bottom: 5px;
}

.titulo-div {
    text-align: center;
    padding-bottom: 2rem;
}

.div-botao button {
   
    padding: 0.5rem;
    background: #52c3e3;
    cursor: pointer;
    color: white;
    font-size: 14px; 
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-top: 2rem; 
    width: 150px;
    
 
}


.div-botao2 button {
   
    padding: 0.5rem;
    background: #52c3e3;
    cursor: pointer;
    color: white;
    font-size: 14px; 
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-top: 3.5rem; 
    width: 150px;
    
 
}

button:hover {
    letter-spacing: 0.5px;
}

.fb input{
    width: 40%;
}