

.visao-geral {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    overflow-y: hidden;
}



.titulo {
    align-items: center;
    display: flex;
    justify-content: center;         /* TITULO DA PAGE*/
    text-align: center;
}

.titulo-novo-operador h1 {
    text-align: center;
}


.formulario-cadastro {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);          /* DIV DO CONTEUDO DO FORMULÁRIO*/
    border-radius: 20px;
    width: 60%;
    height: 21%;
    margin-bottom: 2rem;
    
}


.container {
     /* display: flex; */
     justify-content: start;
     margin: 2rem;
   
}


.form {
    display: flex;
    flex-wrap: wrap;
}
 
.input-field {
    flex: 1 1 50%; 
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: space-between;
}


.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    box-sizing: border-box; 
    display: block;
    margin-bottom: 5px;
}
.input-field select {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    box-sizing: border-box; 
    display: block;
    margin-bottom: 5px;
}

.input-formulario input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.div-adicionar-funcionario {
    display: flex;
    justify-content: center;
}

.imagem-adicionar-funcionario {
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

#imagem-add-funcionario {
    width: 10%;
}

.atributos-formulario {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}






/*  tabela funcionários */
table  #tabela-funcionario {
    width: 100%;
    
}
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    width: 20%;

}
th {
    background-color: #f2f2f2;
}
.tabela-container{
    background: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);          
    border-radius: 20px;
    width: 100%;
    height: 90%;
    margin-bottom: 2rem;
    overflow-y: auto;
}

button {
    margin-top: 2rem;
    padding: 0.6rem 1rem;
    background: #52c3e3;
    cursor: pointer;
    color: white;
    font-size: 15px; 
    border: none;
    border-radius: 4px;
    /* margin: 30px auto;  */
    position: fixed;
    bottom: 10px;
    right: 13%;
  
}


/* modal */

dialog {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    width: 90%;
    max-width: 70%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.btn-cadastrar {
    text-align: center;
}