

.visao-geral {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    overflow-y: hidden;
}



.titulo {
    align-items: center;
    display: flex;
    justify-content: center;         /* TITULO DA PAGE*/
    text-align: center;
}

.titulo-novo-operador h1 {
    text-align: center;
}


.formulario-cadastro {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);          /* DIV DO CONTEUDO DO FORMULÁRIO*/
    border-radius: 20px;
    width: 40%;
    height: 21%;
    margin-bottom: 2rem;
    
}


.container {
     /* display: flex; */
     justify-content: start;
     margin: 2rem;
   
}


.form {
    display: flex;
    flex-wrap: wrap;
}
 
.input-field {
    flex: 1 1 50%; 
    padding: 0 10px;
    box-sizing: border-box;
    justify-content: space-between;
}


.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    box-sizing: border-box; 
    display: block;
    margin-bottom: 5px;
}
.input-field select {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    box-sizing: border-box; 
    display: block;
    margin-bottom: 5px;
}

.input-formulario input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.div-adicionar-funcionario {
    display: flex;
    justify-content: center;
}

.imagem-adicionar-funcionario {
    display: flex;
    justify-content: center;
    margin-top: -80px;
}

#imagem-add-funcionario {
    width: 10%;
}

.atributos-formulario {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}


/*button de cadastrar*/

button {
    margin-top: 2rem;
    padding: 0.6rem 1rem;
    background: #52c3e3;
    cursor: pointer;
    color: white;
    font-size: 14px; 
    font-weight: 300;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: block; 
    margin: 30px auto; 
    width: 150px;
}


button:hover {
    letter-spacing: 0.5px;
}

.lista-funcionarios{
    background: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);         
    border-radius: 20px;
    width: 40%;
    height: 21%;
    margin-bottom: 2rem;
}