
.main-chamados {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-chamado{
    background: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    width: 60%; 
    margin: 2rem; 
}

.inputs input, select, textarea {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    box-sizing: border-box; 
    display: block;
    margin-bottom: 5%;
}

.card-chamado h2 {
    text-align: center;
}

button {
    margin-top: 2rem;
    padding: 0.6rem 1rem;
    background: #52c3e3;
    cursor: pointer;
    color: white;
    font-size: 14px; 
    font-weight: 500;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: block; 
    margin: 0 auto; 
    width: 150px;
    margin-top: 1rem;
    
}


button:hover {
    letter-spacing: 0.5px;
}
