@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    position: relative; 
    background-image: url('../banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::after {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(82, 195, 227, 0.3);
    z-index: -1; 
}

main.container {
    background: #fff;
    border: 1px solid #ccc;
    padding: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 50%; 
    max-width: 400px; 
    margin: 2rem; 
}


.logo {
    text-align: center; 
    margin-bottom: 2rem; 
}

.logo img {
    width: 100%;
    max-width: 200px; 
}

.form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
    margin-bottom: 1.5rem; 
}


.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 0.5rem; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
    box-sizing: border-box; 
}


.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


button {
    margin-top: 2rem;
    padding: 0.6rem 1rem;
    background: #52c3e3;
    cursor: pointer;
    color: white;
    font-size: 14px; 
    font-weight: 300;
    border: none;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: block; 
    margin: 0 auto; 
    width: 150px;
}


button:hover {
    letter-spacing: 0.5px;
}

.loading-gif {
    width: 41.2px;
    margin: 0 auto;
    display: none;
}