.header-container {
    display: flex;
    align-items: self-end;
    justify-content: space-between;
}

.header-container .edit-btn {
    border: none;
    background-color: #52C3E3;
    color: white;
    padding: 4px 8px;
    font-size: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: 200ms;

    i {
        margin-right: 10px;
    }
}

.header-container .edit-btn:hover {
    filter: brightness(0.9);
}

.perm-btns {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.perm-btns i {
    transition: 200ms;
    color: gray;
    font-size: 23px;
    cursor: pointer;
}

.fa-circle-check:hover {
    color: green;
}

.fa-ban:hover {
    color: red;
}

.battle-container {
    display: grid;
    grid-template-columns: 1fr 0.15fr 1fr;
    width: 100%;
    padding: 5px;
    height: 100%;
    position: relative;
}

.battle-itens {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow: scroll;
}

.battle-itens::-webkit-scrollbar {
    display: none;
}

.battle-itens {
    scrollbar-width: none;
}

.battle-column {
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 460px;

    span {
        font-size: 25px;
    }
}

.battle-item {
    padding: 5px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 4px;
}

.battle-btn {
    width: 40px;
    margin: 0 auto;
    border: 1px solid rgb(182, 182, 182);
    padding: 5px;
    border-radius: 7px;
    font-size: 20px;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.save-btn {
    position: absolute;
    bottom: 30px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #52C3E3;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.on-focus {
    background-color: #80808025;
}  

.per {
    border: red solid 1px;
    background-color: rgb(255, 239, 239);
}

.bloq {
    border: green solid 1px;
    background-color: rgb(226, 255, 225);
}